<ul
  class="w-full text-sm pt-2 pe-2 ps-2 font-medium text-gray-800 flex dark:text-gray-200 justify-between"
>
  <li class="w-full focus-within:z-10 grow pt-1">Wellcome, {{ me?.name }}</li>
  <li class="focus-within:z-10">
    <button
      type="button"
      (click)="logout()"
      class="cursor-pointer px-3 py-2 text-xs font-medium text-center text-white bg-red-700 rounded-lg hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-red-300 dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-800"
    >
      Logout
    </button>
  </li>
</ul>
